.work{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.work-header{
    text-align: center;
}
.work-header p{
    color: rgb(80, 80, 80);
}

.work-card{
    display:flex;
    flex-wrap:wrap ;
    justify-content: center;

    grid-gap: 30px;
    margin-top: 1.5rem;
    height: 70vh;
    overflow-y:scroll ;
    scrollbar-width: none;
}

.work-tags{
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
}

.work-tags span{
    background-color: rgb(245, 241, 241);
    padding: 4px 15px;
    border-radius: 15px;
    transition: .3s;
    text-transform: capitalize;
    cursor: pointer;
    
}

.work-tags span:hover{
    color: #fff;
    background-color: #000;
}


/* resposive work tag */
.responsive-work-tags {
  
    width:100%;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
    overflow-x: scroll;

}


.responsive-work-tags span {
    background-color: rgb(245, 241, 241);
    padding: 4px 8px;
    border-radius: 15px;
    transition: .3s;
    text-transform: capitalize;
    display: inline-block;
    cursor: pointer;
    margin:0 5px;
    font-size: 12px;
}

.responsive-work-tags span:hover {
    color: #fff;
    background-color: #000;
}